:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
}

h1 {
  color: var(--very-dark-desaturated-blue);
}

h2 {
  color: var(--dark-grayish-blue);
}

h3 {
  color: var(--very-dark-desaturated-blue);
}
span {
  color: var(--dark-grayish-blue);
}

.cuerpo {
  background: var(--dark-cyan);
  padding: 50px;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.image {
  border-radius: 50px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}

.social h3 small {
  display: block;
  color: var(--dark-grayish-blue);
  font-weight: 400;
}
