:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
}

h1 {
  color: var(--very-dark-desaturated-blue);
}

h2 {
  color: var(--dark-grayish-blue);
}

h3 {
  color: var(--very-dark-desaturated-blue);
}

span {
  color: var(--dark-grayish-blue);
}

.cuerpo {
  background: var(--dark-cyan);
  padding: 50px;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  background: white url(./images/bg-pattern-card.svg);
  background-repeat: repeat-x;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding-top: 10%;
}

.image {
  border-radius: 50%;
  border: 5px solid white;
}

.social {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--very-dark-desaturated-blue);
  padding: 3% 0%;
}

.social h3 {
  font-size: 25px;
}

.social h3 small {
  display: block;
  color: var(--dark-grayish-blue);
  font-weight: 400;
  margin-top: 10%;
  letter-spacing: 1px;
  font-size: 15px;
}
